<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Register</title>
</head>
<body>
        <div class="logo">
            <img src="../images/github.svg" alt="error" class="img"/>
        </div>
        <div class="container">
            <h2>registration</h2>
            <div class="next">
                <form class="register" action="">
                    <input type="email" name="" id="" class="mail" placeholder="Email">
                    <input type="password" name="" id="" class="pass" placeholder="Password">
                    <input type="password" name="" id="" class="pass" placeholder="Repeat Password">
                    <input class="btn" type="submit" value="Register">
                </form>
            </div>
            <p>Already have an account? <a href="index-2.html" class="link">Log in</a></p>
        </div>
        
        <script src="../script.js"></script>
</body>
</html>